

.box {
  height: 250px; 
  background: red;
  border: 1px solid black;
}

.left {
  float: left;
  width: 20%;
  height: 550px;
  background: yellow;
}

.right {
  float: right;
  width: 20%;
  background: green;
  height: 550px;
}
.center {
  background-color: purple;
  height: 550px;
}

.box-wrapper {
  border: 3px solid white;
}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}