.breakfast-recipe-main {
  background-image: url(../images/pattern-speckles-dark.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: ;
}

.recipe-page-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.recipe-nav-circle {
  display: block;
  width: 310px;
  margin: 0 auto;
  z-index: 1;
}

.cate-recipe-title {
  visibility: hidden;
}

.recipe-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  padding-top: 140px;
}

.breakfast-recipe-title {
  font-family: coquerli-regular;
  color: #eb9c81;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.prep-time {
  font-family: Catcafe;
  color: #89f7de;
  font-size: 1.3rem;
  line-height: 1.8em;
  padding-bottom: 40px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}

.img {
  padding-top: 25px;
  float: right;
}

.recipe-pic {
  position: relative;
  width: 655px;
  height: 100%;
/*  margin-left: 20px;*/
}

.step-label {
  font-family: coquerli-regular;
  color: #eb9c81;
  font-size: 2.2rem;
  padding-bottom: 20px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}

.list {
  font-family: Catcafe;
  color: #fefbe3;
  font-size: 1.2rem;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.directions-step, .nutrition-step {
  padding-top: 88px;
}

.equivalence {
  font-family: Catcafe;
  color: #89f7de;
  font-size: 0.6rem;
  letter-spacing: 0.05em;
  padding-left: 20px;
}

.list-ingredients {
  max-width: 400px;
}

.list-nutrition {
  padding-bottom: 10%;
}


@media only screen and (max-width: 1140px) {
    html {
      width: 100%;
      margin: 0 auto;
    }
    .breakfast-recipe-main {
      padding: 0 5%;
    }
    .recipe-pic {
      resize: auto;
      width: 100%;
      padding-bottom: 5%;
      padding-left: 1%;
    }

}    














