.drink-recipe-main {
  background-image: url(../images/pattern-speckles-dark.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 1600px;
}

.recipe-page-header {
  position: absolute;
  left: 0;
  right: 0;
  top: -12%;
  bottom: 0;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.recipe-nav-circle {
  display: block;
  width: 300px;
  margin: 0 auto;
  z-index: 1;
  transform: rotate(-293deg);
}

.cate-recipe-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5%;
  bottom: 0;
  display: block;
  width: 162px;
  margin: 0 auto;
  z-index: 10;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.recipe-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  padding-top: 220px;
}


.drink-recipe-title {
  font-family: coquerli-regular;
  color: #eb9c81;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.prep-time {
  font-family: Catcafe;
  color: #89f7de;
  font-size: 1.3em;
  line-height: 1.5em;
  padding-bottom: 40px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}


.img {
  padding-top: 25px;
  float: right;
}

.recipe-pic {
  position: relative;
  width: 655px;
  height: 100%;
/*  margin-left: 20px;*/
}

.serving-size {
  position: absolute;
  /*left: 0;*/
  right: 0;
  font-family: Catcafe;
  color: #89f7de;
  font-size: 0.5em;
  padding-top: 20px;
  letter-spacing: 0.05em;
  text-transform: none;
}

.step-label {
  font-family: coquerli-regular;
  color: #eb9c81;
  font-size: 2.2em;
  padding-bottom: 20px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}

.list {
  font-family: Catcafe;
  color: #fefbe3;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.directions-step, .nutrition-step {
  padding-top: 88px;
}

.equivalence {
  font-family: Catcafe;
  color: #89f7de;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  padding-left: 20px;
}

.list-ingredients {
  max-width: 400px;

}



