.main {
  /*max-width: 1200px;*/
  background-image: url(../images/pattern-speckles.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 750px;
}


.top-section {  
  background-image: url(../images/pattern-speckles.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 150px;
}

.blurb {
  font-family: CatCafe; 
  font-size: 1.2em;
  color: #43a08c;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 640px;
  bottom: 0;
  left: 0;
  right: 0;
}

.half-circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.pic-plain-circle {
  display: block;
  width: 400px;
  margin: 0 auto;
  z-index: 0;
  transform: rotate(-293deg);
}

.logo-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
}

.logo {
  display: block;
  width: 280px;
  margin: 0 auto;
  opacity: .95;
}

.nav-cates {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 800px;
}

.cate {
  position: absolute;
  width: 20%;
}

.cate-course {
  left: 10%;
  top: 11%;
  width: 22%;
}

.cate-low-carb {
  left: 34%;
  top: 4%;
}

.cate-quick-easy {
  left: 53%;
  top: 17%;
  z-index: 5;
  width: 28%;
}

.cate-budget-friendly {
  left: 68%;
  top: 0%;
  z-index: 10;
  width: 21%;
}

.cate-question {
  left: 83%;
  top: 37%;
  width: 12%;
  z-index: 0;
}

.cate-img {
  width: 100%;
  position: block;
}

.cate-question-img {
  width: 100%;
  z-index: 0;
  position: relative;
}


.question-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 5;
}

.cate-question-text {
  width: 65%;
}


/*PAGE TWO*/

.site-nav {
  border: 1px solid red;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  bottom: 0;
/*  height: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;*/
  transition: all .2s ease-in;
}

.site-nav-fixed {
  /*border: 1px solid red;*/
  /*visibility: hidden;*/
  position: absolute;
  top: -39px;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
}

.site-nav-fixed div {
  margin-left: -66px;
}

.sticky-pics {
  /*border: 1px solid red;*/
  display: block;
  width: 45%;
}

.sticky-page-meal-course {
  margin-top: -12px;
  margin-right: 320px;
  width: 130px;
}

.sticky-home-light {
  margin-left: -525px;
  width: 75px;
}

/*.sticky-meal-course, .sticky-low-carb, .sticky-quick-easy, .sticky-budget-friendly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}*/





/*PAGE TWO*/

.cate-course-main {
  background-image: url(../images/pattern-speckles-peach.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 850px;
  padding-top: 40px;
}

.nav-cate-course {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 850px;
}

.group {
  position: absolute;
  width: 18%;
  z-index: 0;
}

.group-1 {
  left: 5%;
  top: 10%;
  z-index: 0;
}

.group-2 {
  left: 29%;
  top: 26%;
  z-index: 0;
}

.group-3 {
  left: 53%;
  top: 10%;
  z-index: 0;
}

.group-4 {
  left: 78%;
  top: 26%;
  z-index: 0;
}

.course-img {
  width: 100%;
  position: block;
  z-index: 0;
}

.cate-wrap {
  position: relative;
}

.cate-wrap--top {
  margin-bottom: 60px;
}

.cate-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cate-text img {
  flex-shrink: 0;
  flex-grow: 0;
}

.pic-breakfast-text {
  width: 55%;
}

.pic-apps-sides-text {
  width: 45%;
}

.lunch-link, .pic-lunch-text {
  width: 65%;
}

.dinner-link, .pic-dinner-text {
  width: 65%;
}

.dessert-link, .pic-dessert-text {
  width: 75%;
}

.drinks-link, .pic-drinks-text {
  width: 70%;
}

.snacks-link, .pic-snacks-text {
  width: 70%;
}

.salads-link, .pic-salads-text {
  width: 65%;
}

/*page3*/

.drinks-main {
  background-image: url(../images/pattern-speckles-light.png);
  background-repeat: repeat;
  position: relative;
  width: 100%;
  height: 1100px;
}

.drinks-nav {
  background-image: url(../images/pattern-speckles-light.png);
  background-repeat: repeat;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 1100px;
}

.drinks-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  position: relative;
  /*border: 1px solid red;*/
  width: 100%;
  top: 40px;
}

.drinks-recipe {
  /*border: 1px solid blue;*/
  width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 30px;
}

.pic-drink {
  display: block;
  width: 100%;
}

.drink-title {
  font-family: coquerli-regular;
  color: #eb9c81;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}

.drink-recipe-link {
  text-decoration: none;
}






/*make nav stay top locked and when cate is clicked, 
site auto scrolls down to show recipes/more cates. 
single page site*/